!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    / Mobile Viewport Setting
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    / JQuery
    %script{src: "https://code.jquery.com/jquery.min.js"} 
    / Bootstrap 
    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
    / Website Styles
    %link{rel: "stylesheet", href: "/stylesheets/normalize.css"}
    %link{rel: "stylesheet", href: "/stylesheets/all.css"}    
    / HTML5 Support for browsers without it
    / [if lt IE 9]
      %script{src:"https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{src:"https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
    / JS
    %script{src:"/javascripts/all.js"}
    / Favicons
    %link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }
  %body    
    /= partial "layouts/nav"
    = yield